// Cores Ícones

.fa_cor-primaria {
  color: $cor-primaria;
}

.fa_cor-secundaria {
  color: $cor-secundaria;
}

.fa_cor-terciaria {
  color: $cor-terciaria;
}

.fa_cor-quaternaria {
  color: $cor-quaternaria;
}

.fa_cor-info {
  color: $cor-info;
}

.fa_cor-sucesso {
  color: $cor-sucesso;
}

.fa_cor-erro {
  color: $cor-erro;
}

.fa_cor-atencao {
  color: $cor-atencao;
}